.h1 {
   font-family: var(--font-family-hero);

   letter-spacing: .05em;
   text-transform: uppercase;
   line-height: 80.6%;
   margin: 0;
   margin-bottom: 2rem;

   color: white;

   display: flex;
   flex-direction: column;
}
.image {
   height: 100%;
   width: 100%;
}

.h2 {
    margin: 0;
    margin-bottom: 1rem;
    
    font-size: calc(var(--font-size) * 1.5);
    font-weight: bold;
    letter-spacing: .5rem;
    text-transform: uppercase;

    color: white;
 }