@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@500;700&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;
  --font-family-hero: 'Montserrat', sans-serif;

  --font-size: 16px;

  --color-blue: #00C2FF;
  --color-lightblue: #c8fff4;
}

html,
body {
  padding: 0;
  margin: 0;

  font-style: normal;
  font-weight: normal;

  font-size: var(--font-size);
  font-family: var(--font-family);
  letter-spacing: 0.03rem;
}

a {
  color: inherit;
  text-decoration: underline;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

/* MOBILE MENU */

.bm-burger-button {
   position: fixed;
   right: 0;
   top: 0;
   margin-top: calc(5% - 8px);
   margin-right: 8%;
   width: 48px;
   height: 48px;
   z-index: 999 !important;
}

.bm-cross-button {
   width: 48px !important;
   height: 48px !important;
   top: 0 !important;
   right: 0 !important;
   margin-top: calc(5% - 8px);
   margin-right: 8%;
}

.bm-menu-wrap {
   position: fixed;
   height: 100%;
}

.bm-overlay {
   background: linear-gradient(180deg, #00c2ff, #c8fff4) !important;
   transition: background 2s;
}

.bm-menu {
   margin-top: 15%;
   padding: 5%;
   padding-right: 8%;
}

/* MODAL */

.ReactModal__Overlay {
   opacity: 0;
   transition: opacity .25s
}

.ReactModal__Overlay--after-open{
   opacity: 1;
}

.ReactModal__Overlay--before-close{
   opacity: 0;
}